<% include ../partials/header %>
<h1><%=makeup.name%></h1>

<img src="<%= makeup.image %>">

<p><%= makeup.description %></p>

<p>
    <a class="btn btn-success" href="/makeup/<%= makeup._id %>/reviews/new">Add A New Review</a>
</p>

<% makeup.reviews.forEach(function(review){ %>
    <p>
        <strong><%= review.author %></strong> - <%= review.text %>
    </p>
<% }) %>

<% include ../partials/footer %>
