<% include ../partials/header %>
<h1><%=makeup.name%></h1>

<img src="<%= makeup.image %>">

<p><%= makeup.description %></p>

<% makeup.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include ../partials/footer %>
